.lili {
    height: 30px;
}

.super-band {
    color: red;
}

.btn-primary {
    margin-bottom: 50px;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: grey;
}


#parent, #child, #inner-child {
margin: 16px;
padding: 16px;
border: 1px solid white;

}

#parent {
    background-color: pink;
}

#child {
    background-color: green;

}

#inner-child {
    background-color: blue;
}
.tags {
    outline: 1px solid black;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tags-btn {
    border-radius: 5px;
    padding: 15px;
    margin: 10px;

}

.tags-btn--active {
    color: white;
    background-color: grey;
}

.color-swatch {
    width: 100px;
    height: 100px;
}

.palette {
margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

.list-lazy {
    list-style: none;
}

.list-lazy img {
    transform: translateX(-50%);
    opacity: 0;
    transition: all 2000ms linear;
    width: 860px;
    height: 640;
    object-fit: cover;
}

.list-lazy img.appear {
    transform: translateX(0);
    opacity: 1;
}