.lili {
    height: 30px;
}

.super-band {
    color: red;
}

.btn-primary {
    margin-bottom: 50px;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: grey;
}


#parent, #child, #inner-child {
margin: 16px;
padding: 16px;
border: 1px solid white;

}

#parent {
    background-color: pink;
}

#child {
    background-color: green;

}

#inner-child {
    background-color: blue;
}